#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Run Emacs Client
Comment=THE Editor
Exec=/home/ahi/.emacs.d/usefull/runemacsclient
Icon=~/.emacs.d/usefull/emacs-icon.png
Terminal=false
Type=Application
NoDisplay=false
Categories=Development;IDE;
